aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.21.0
asyncpg==0.30.0
attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.4
frozenlist==1.8.0
idna==3.11
iso8601==2.1.0
multidict==6.7.0
pillow==12.0.0
propcache==0.4.1
pypika-tortoise==0.6.2
pyTelegramBotAPI==4.29.1
pytz==2025.2
qrcode==8.2
requests==2.32.5
tortoise-orm==0.25.1
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.22.0
